<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>
      Sometime in the near future, there will be projects displayed here :]
    </p>

    {{> footer}}
  </body>
</html>
